<!DOCTYPE html>
     <html>
       <head>
         <link type="text/css" rel="stylesheet" href="/files/forms.css"/>
         <title>create a post</title>
       </head>
       <body>
       <h2>
        <form action="/createPost" method="POST">
          <div>
            <input type="text" name="url" placeholder="URL for your post">
          </div>
          <div>
            <input type="text" name="title" placeholder="your post's title">
          </div>
          <div>
            <input type="text" name="subredditId" placeholder="subredditId">
          </div>
            <button type="submit">Create Post!</button>
        </form>
        </h2>
        <div>
          <table>
            <thead>
              <td><h5>subredditId options</h5></td>
            </thead>
            <tbody>
              <tr>
                <td><h6>3</h6></td>
                <td><h6>velo</h6></td>
                <td><h6>bikesbikesbikes</h6></td>
              </tr>
              <tr>
                <td><h6>4</h6></td>
                <td><h6>montreal culture</h6></td>
                <td><h6>culture stuff</h6></td>
              </tr>
              <tr>
                <td><h6>6</h6></td>
                <td><h6>other</h6></td>
                <td><h6>anything you like!</h6></td>
              </tr>
            </tbody>
          </table>
        </div>
         <div>
           <a href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/">homepage</a>
         </div>
       </body>
     </html>