<!DOCTYPE html>
     <html>
       <head>
         <link type="text/css" rel="stylesheet" href="/files/styles.css"/>
         <title>create a post</title>
       </head>
       <body>
       <h2>
        <form action="/createPost" method="POST">
          <div>
            <input type="text" name="url" placeholder="URL for your post">
          </div>
          <div>
            <input type="text" name="title" placeholder="your post's title">
          </div>
          <div>
            <input type="text" name="subredditId" placeholder="subredditId">
          </div>
            <button type="submit">Create Post!</button>
        </form>
        </h2>
        <div>
          <table>
            <thead>
              <td>subredditId options</td>
            </thead>
            <tbody>
              <tr>
                <td>3</td>
                <td>velo</td>
                <td>bikesbikesbikes</td>
              </tr>
              <tr>
                <td>4</td>
                <td>montreal culture</td>
                <td>culture stuff</td>
              </tr>
              <tr>
                <td>6</td>
                <td>other</td>
                <td>anything you like!</td>
              </tr>
            </tbody>
          </table>
        </div>
         <div>
           <a href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/">homepage</a>
         </div>
       </body>
     </html>