<% layout('layout') -%>

<div>
    <h1>create a post!</h1>
    <form class="createPostForm" action="/createPost" method="POST">
        <div class="createPostContainer">
            <div class="urlTitleSubredditContainer">
                <div class="urlItem">
                    <div><h3>url please</h3></div>
                    <div><input type="text" name="url" placeholder="URL for your post"></div>
                </div>
                <div class="titleCreatePost">
                    <div class="createPostTitleItem">
                        <div><h3 class="unTitre">un titre</h3></div>
                        <div><input type="text" name="title" placeholder="your post's title"></div>
                        <div><button id="suggestTitleButton">suggest title</button></div>
                    </div>
                </div>
                <div class="subredditItem">
                    <div><h3 class="subredditPlease">subreddit id</h3></div>
                    <div><input type="text" name="subredditId" placeholder="subredditId"></div>
                </div>
            </div>
            <button type="submit" class="createPostButton">create</button>
        </div>
    </form>
    <div class="subredditsBox">
        <div class="subredditsBoxTitle">subreddits</div>
        <div class="subredditBoxes subredditId3">3: bicycles</div>
        <div class="subredditBoxes subredditId4,">4: montreal culture</div>
        <div class="subredditBoxes subredditId6">6: politics</div>
        <div class="subredditBoxes subredditId7">7: health</div>
        <div class="subredditBoxes subredditId8">8: other</div>
    </div>
    <nav>
        <a class="homepageCreatePost" href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/">homepage</a>
    </nav>
</div>