<!DOCTYPE html>
<html>
    <head>
       <meta charset='UTF-8'>
       <title></title>
       <link type="text/css" rel="stylesheet" href="/files/styles.css"/>
    </head>
    <body>
        <a href='<a href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/'>Homepage</a>
    </body>
</html>