<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="/files/styles.css"/>
<title>reddit: the front page of week four</title>
</head>
<body style="background-color:lightgrey">
	<table>
		<thead>
		</thead>	
		<tbody>
				<td><a href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/login">Login</a></td>
				<td><a href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/signup">Register</a></td>
		</tbody>
	</table>
		<table>
		<thead>
		</thead>
		<tbody>
				<td>Top</td>
				<td>Hot</td>
				<td>New</td>
				<td>Controversial</td>
		</tbody>
	  </table>
	  <% posts.forEach(function(post){ %>
	  	<% post.name %>
	  <% }) %>
	  <table>
	  <thead>
  	</thead>
	  <tbody>
	    <td><a href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/createPost">Create Post</a></td>
</body>
</html>