<!-- goals of this page: link all my ejs files to my index.js, hold all uniform headers and footers -->


<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="/files/styles.css"/>
        <title>Kara's Reddit Page</title>
        <script></script>
    </head>
    <body>
        <%- body %>
    </body>
</html>