<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="/files/styles.css"/>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
        <script src="/files/browser.js"></script>
        <title><%= title%></title>
        <script></script>
    </head>
    <body>
        <%- body %>
    </body>
</html>