<link type="text/css" rel="stylesheet" href="/files/styles.css"/>
<form action='/login' method='POST'>
  <div>
    <input type='text' name='username' placeholder='Enter your username here'>
  </div>
  <div>
    <input type='text' name='password' placeholder='Enter your password here'>
  </div>
  <button type='submit'>Login!</button>
  <div>
    don't have an account? sign-up <a href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/signup">here</a>
  </div>
  <div>
    <a href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/">homepage</a>
  </div>
</form>