<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>login</title>
    <link type="text/css" rel="stylesheet" href="/files/styles.css"/>
  </head>
  <body>
    <form action='/login' method='POST'>
      <div>
        <input type='text' name='username' placeholder='Enter your username here'>
      </div>
      <div>
        <input type='password' name='password' placeholder='Enter your password here'>
      </div>
      <button type='submit'>Login!</button>
    </form>
    <div>
      don't have an account? sign-up <a href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/signup">here</a>
    </div>
    <div>
      <a href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/">homepage</a>
    </div>
  </body> 
</html>