<link type="text/css" rel="stylesheet" href="/files/styles.css"/>
<form action='/signup' method='POST'>
    <div>
      <input type='text' name='username' placeholder='choose your own unique username!'>
    </div>
    <div>
      <input type='text' name='password' placeholder='choose a password that isn't easy to guess!'>
    </div>
    <button type='submit'>Sign Up!</button>
    <div>
      already signed up? login <a href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/login">here</a>
    </div>
    <div>
      <a href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/">homepage</a>
    </div>