<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>signup</title>
    <link type="text/css" rel="stylesheet" href="/files/forms.css"/>
  </head>
  <body>
    <form action='/signup' method='POST'>
      <div>
        <input type='text' name='username' placeholder='choose your own unique username!'>
      </div>
      <div>
        <input type='password' name='password' placeholder="choose a password that isn't easy to guess!">
      </div>
      <button type='submit'>Sign Up!</button>
    </form>
    <div>
      <h4>already signed up? login <a href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/login">here</a></h4>
    </div>
    <div>
      <h4><a href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/">homepage</a></h4>
    </div>
  </body>
</html>
