/*post titles*/
h2 {
 font-family: sans-serif;
 color: #912588;
 margin: auto;
 height: 60px;
 font-style: oblique;
}

ul {
    list-style-type: none;
}

h3 {
    font-family: sans-serif;
    margin: auto;
    height: 40px;
    color: blue;
}

h4 {
    font-family: helvetica;
    color: #E72174;
    margin: auto;
    height: 20px;
    font-style: normal;
}

button {
    margin: auto;
    height: 20px;
    text-align: center;
}

a {
  text-decoration: none;  
  color: #E8DDE1;
}

table, td {
    border: none;
    font-family: Verdana;
    font-size: 1.5em;
    max-width: 200px;
    max-height: 50px;
}

/*source: https://css-tricks.com/snippets/css/typewriter-effect/ */
/* GLOBAL STYLES */
body {
  background: #333;
  color: #F2BFEE;
  font-family: monospace;
  padding-top: 5em;
  padding-left: 2em;
  display: inline;
  margin-left: 1em;
}

/* DEMO-SPECIFIC STYLES */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

h1 {
    font-size: 2em;
    margin: auto;
}

.homepageCreatePost {
    font-size: 2.2em;
    margin-left: 1.4em;
}


.createPostForm {
    font-family: Source Sans Pro;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 2em;
}

.createPostButton {
    margin-left: 2em;
    margin-top: 0.5em;
    background: rgba(255, 255, 255, 0.2);
    border: 0.3em white solid;
    align-items: center;
    border-radius: 0.2em;
    padding: 0.8em 0.8em 2em 0.8em;
    font-size:0.8em;
    color:rgba(199, 142, 199, 0.8);
}

.postTitles {
    font-family: Montserrat;
    margin-top: .4em;
}

.subredditsBox {
    color: white;
    font-size: 1.5em;
    text-align: left;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    width: 245px;
    margin-left: 2em;
}

/*can't get this to work, was hoping to make the box contents smaller than title*/
.subredditsBoxes {
    font-size: 1em;
    padding-left: 1em;
}

.subredditId3 { background: #9b59b6;}
.subredditId4 { background: #bdc3c7;}
.subredditId6 { background: #3498db;}
.subredditId7 { background: #34495e;}
.subredditId8 { background: #1abc9c;}