/*post titles*/
h2 {
 font-family: sans-serif;
 color: #912588;
 margin: auto;
 height: 60px;
 font-style: oblique;
}

ul {
    list-style-type: none;
}

h3 {
    font-family: sans-serif;
    margin: auto;
    height: 40px;
    color: blue;
}

h4 {
    font-family: helvetica;
    color: #E72174;
    margin: auto;
    height: 20px;
    font-style: normal;
}

button {
    margin: auto;
    height: 20px;
    text-align: center;
}

a {
  text-decoration: none;  
  color: #E8DDE1;
}

table, td {
    border: none;
    font-family: Verdana;
    font-size: 1.5em;
    max-width: 200px;
    max-height: 50px;
}

/*source: https://css-tricks.com/snippets/css/typewriter-effect/ */
/* GLOBAL STYLES */
body {
  background: #333;
  color: #F2BFEE;
  font-family: monospace;
  padding-top: 5em;
  padding-left: 2em;
  display: inline;
  margin-left: 1em;
}

/* DEMO-SPECIFIC STYLES */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

h1 {
    font-size: 2em;
    margin: auto;
}

.homepageCreatePost {
    font-size: 20px;
    margin: 10px;
}


.createPostForm {
    font-family: Source Sans Pro;
}

.postTitles {
    font-family: Montserrat;
    margin-top: .4em;
}